/***********
   HEADER

***********/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    height: 70px;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 50px;
    margin-left: 20px;
}

/* Navigace */
nav {
    margin-right: 30px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    color: white;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 7px;
}